@import '~@angular/material/theming';
@include mat-core();

$my-color: #84329b;
$midnight-blue: #036;
$iron: #dadbdf;
$green: #557691;
$main-bg: linear-gradient(to bottom, #003366, #162227);;
// background: -webkit-linear-gradient(left, #003366, #162227);
// background: -moz-linear-gradient(left, #003366, #162227);
// background: -ms-linear-gradient(left, #003366, #162227);
// background: -o-linear-gradient(left, #003366, #162227);
// background: linear-gradient(to right, #003366, #162227);
$theme-colors: (
    "primary": #84329b,
    "secondary": #02bceb,
    "customyellow": yellow,
);