@import '~@angular/material/theming';
@include mat-core();

$site-bg: #7095CC;
$my-color: #84329b;
$midnight-blue: #036;
$iron: #dadbdf;
$green: #557691;
$bg-instrument: #84329b;
$main-bg: linear-gradient(to bottom, #003366, #162227);;

$theme-colors: (
    "primary": #84329b,
    "secondary": #02bceb,
    "customyellow": yellow,
);