@import '../../theme.scss';

.dashboard {
    display: flex;
    align-self: center;
    height: 440px;
    margin-left: 30px;
}

.painel {
    margin: 10px;
}

.instrument {
    display: flex;
    align-items: center;
}

.img-instrument {
    width: 150px;
    height: 150px;
    margin: 50px;
}

.horizontal { display: inline }

.controls {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: row;
    align-items: stretch;

}

.button-control {
    width: 120px;
    height: 45px;
    margin: 10px;
    background: lightblue;
}

.img-play {
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.img-containter {
    display: flex;
    flex: 0%;
    justify-content: center;
    margin: 20px;
}

.keys-session {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 10px;
}

.keys-session-sharp {
    @extend .keys-session;
    margin-top: 5px;
}
.button-control {
    width: 45px;
    height: 45px;
    background: lightblue;
}

.key-button {
    display: inline;
    margin-top: 8px;
    width: 40px;
    height: 40px;
}

