<div class="dashboard">
  <div class="controls">
      <button id="mode" class="button-control button-class" value="EASY"></button>
      <button id="play" class="button-control button-class" value="PLAY"></button>
      <button id="autoPlay" class="button-control button-class" value="AUTO PLAY"></button>
      <button id="stop" class="button-control button-class" value="STOP"></button>
  </div>
  <div class="img-containter">
    <mat-icon>face</mat-icon>
    
  </div>
  <div class="keys-session">
      <button mat-mini-fab class="key-button" value="C">C</button>
      <button mat-mini-fab class="key-button" value="D">D</button>
      <button mat-mini-fab class="key-button" value="E">E</button>
      <button mat-mini-fab class="key-button" value="F">F</button>
      <button mat-mini-fab class="key-button" value="G">G</button>
      <button mat-mini-fab class="key-button" value="A">A</button>
      <button mat-mini-fab class="key-button" value="B">B</button>
  </div>
  <div class="sharp-keys">
      <button mat-mini-fab class="key-button sharp-key-button" value="C#">C#</button>
      <button mat-mini-fab class="key-button sharp-key-button" value="D#">D#</button>
      <button mat-mini-fab class="key-button sharp-key-button" value="F#">F#</button>
      <button mat-mini-fab class="key-button sharp-key-button" value="G#">G#</button>
      <button mat-mini-fab class="key-button sharp-key-button" value="A#">A#</button>
  </div>
</div>