<!DOCTYPE html>
<html>
    <head>
        <h1>Musical note</h1>
        <meta name="viewport" content="width=device-width, user-scalable=no"/>
    </head>
    <body>
        <audio id="sound" preload="none" controls="none" style="display:none" >
        </audio>
        <div>
            <span>Player number:</span>
            <span id="playerID"> 0</span>
        </div>
        <div>
            <input id="mode" type="button" value="EASY"/>
        </div>
        <div>
            <input type="button" class="instrument" value="BASS"/>
            <input type="button" class="instrument" value="GUITAR"/>
            <input type="button" class="instrument" value="PIANO"/>
            <input type="button" class="instrument" value="ALL"/>
        </div>
        <div>
            <input id="play" type="button" value="PLAY"/>
            <input id="autoPlay" type="button" value="AUTO PLAY"/>
            <input id="stop" type="button" value="STOP"/>
        </div>
        <div>
            <input type="button" class="key-button" value="C"/>
            <input type="button" class="key-button" value="D"/>
            <input type="button" class="key-button" value="E"/>
            <input type="button" class="key-button" value="F"/>
            <input type="button" class="key-button" value="G"/>
            <input type="button" class="key-button" value="A"/>
            <input type="button" class="key-button" value="B"/>
        </div>
        <div>
                <span>Score:</span>
            <span id='score'>0</span>
        </div>
    </body>
    <script src="http://192.168.25.5:5000/static/scripts/main.js"></script>
    
</html>