//@import url('theme.scss');
@import '../../theme.scss';

.side-nav {
    display: flex;
    flex-flow: column;
    width: 200px;
    max-width: 200px;
    height: 100%;
    background: $midnight-blue;
}

.user-info {
    background: $green;
    margin: 10px;
}

.button-sidenav {
    width: 180px;
    height: 45px;
    margin: 10px;
    color: $iron;
    background: $site-bg;

}