//@import url('theme.scss');
@import '../../theme.scss';

.side-nav {
    margin: 0 30px 0 30px;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.app-content {
    display: flex;
    align-self: center;
}

.user-info {
    background: $green;
    margin: 10px;
}

.button-sidenav {
    width: 120px;
    height: 120px;
    margin: 10px;
    color: $iron;
    background: $site-bg;

}

.horizontal { display: inline }

.instrument-session {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    background: $side-nav;
    align-self: center;
    align-content: center;
    justify-content: center;
}

.panel-card {
    height: 500px;
}

.container-card {
    height: 500px;
}

.sidenav-content {
    background: $site-bg;
}